<section id="equipo-trabajo">
    <div class="container">
        <!--Contenedor donde ira el titulo del grupo de trabajo-->
        <div class="row">
            <div class="col" id="container-equipo">
                <div class="titulo-equipo-trabajo">
                    <h2 class="standard-tittle text-center fw-bold">El grupo de trabajo</h2>
                    <div id="linea">
                        <hr id="miHR">
                    </div>
                    <br>
                    <p class="standard-text text-center">Somos un grupo multidisciplinario de alumnos y académicos</p>
                </div>
            </div>
        </div>
        <!--Contenedor donde se pondran las fotos del grupo de trabajo-->
        <div class="row justify-content-center" id="info-equipo">

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-2" *ngFor="let integrante of rutasFotos; let i = index">
                <div class="card img-integrante" style="width: 19rem;">
                    <img src="{{integrante.ruta}}" class="card-img-top redonda" alt="Integrante {{i+1}}">
                    <div class="card-body">
                        <h5 class="card-title fs-3 fw-bold text-center">{{integrante.nombre}}</h5>
                        <div class="text-center btn-redes">
                            <a href="#" class="btn btn-light btn-lg">
                                <i class="bi bi-facebook fs-3"></i>
                            </a>
                            <a href="#" class="btn btn-light btn-lg">
                                <i class="bi bi-instagram fs-3"></i>
                            </a>
                            <a href="#" class="btn btn-light btn-lg">
                                <i class="bi bi-twitter fs-3"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>