<section id="tecnologias">
    <div class="container">
        <!--Contenedor donde ira el titulo de las tecnologias-->
        <div class="row">
            <div class="col">
                <div class="titulo-tecnologias">
                    <h2 class="standard-tittle text-center fw-bold">Tecnologias usadas</h2>
                    <div id="linea">
                        <hr id="miHR">
                    </div>
                    <br>
                    <p class="standard-text text-center">Somos un grupo multidisciplinario de alumnos y académicos</p>
                </div>
            </div>
        </div>
        <!--FIN CONTENEDOR TITULO TECNOLOGIAS-->
        <!--Contenedor donde se pondran las fotos de las tecnologias-->
        <div class="row justify-content-center" id="img-tecnologias">
            
            <div class="col col-auto">
                <div class="logo-tecnologia" style="width: 18rem;">
                    <img src="https://aws1.discourse-cdn.com/standard17/uploads/threejs/original/2X/e/e4f86d2200d2d35c30f7b1494e96b9595ebc2751.png" alt="Three JS" class="redonda">
                </div>
            </div>

            <div class="col col-auto">
                <div class="logo-tecnologia" style="width: 18rem;">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png" alt="Angular" class="redonda">
                </div>
            </div>

            <div class="col col-auto">
                <div class="logo-tecnologia" style="width: 18rem;">
                    <img src="https://www.chartjs.org/img/chartjs-logo.svg" alt="Chart JS" class="redonda">
                </div>
            </div>

        </div>
    </div>
</section>