<section id="tecnologias">
    <div class="container">
        <!--Contenedor donde ira el titulo de las tecnologias-->
        <div class="row">
            <div class="col">
                <div class="titulo-tecnologias">
                    <h2 class="standard-tittle text-center fw-bold">Tecnologias usadas</h2>
                    <div id="linea">
                        <hr id="miHR">
                    </div>
                    <br>
                    <p class="standard-text text-center">Somos un grupo multidisciplinario de alumnos y académicos</p>
                </div>
            </div>
        </div>
        <!--FIN CONTENEDOR TITULO TECNOLOGIAS-->
        <!--Contenedor donde se pondran las fotos de las tecnologias-->
        <div class="row justify-content-center" id="img-tecnologias">
            <div class="col col-auto" *ngFor="let ruta of rutasImgTec;let i = index">
                <div class="logo-tecnologia" style="width: 18rem;">
                    <img src="{{ruta}}" alt="tecnologia__{{i+1}}" class="redonda">
                </div>
            </div>
        </div>
    </div>
</section>