<section id="banner">
    <div class="container">
        <!--Contenedor donde ira el titulo del banner-->
        <div class="row">
            <div class="col" id="container-banner">
                <div class="titulo-equipo-trabajo">
                    <h2 class="standard-tittle text-center fw-bold">Utiliza el Visualizador ahora!</h2>
                    <div id="linea">
                        <hr id="miHR">
                    </div>
                    <br>
                    <p class="standard-text text-center">Interactua con el visualizador y pon en marcha tus proyectos</p>
                    <br>
                    <br>
                    <br>
                    <a class="boton" href="">Visualizador</a>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        
    </div>
</section>

